.header{
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.sec1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
    width: 180px;

}
.sec2{
    flex: 1;
    /* background-color: aqua; */
    margin-right: 35px;
    display: flex;
    max-width: 650px;
    align-items: center;
}
.sec3{
    width: 182px;
    /* background-color: magenta; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation-name: test-animation;
    animation-duration: 10s;
    margin-right: 24px;
    flex-shrink: 0;
}
.menu{
    height: 22px;
    width: 26px;
    margin-left: 26px;
    /* margin: 0px 24px; */
    object-fit: cover;

}
/* @keyframes test-animation {
    10% {background-color: orchid;}
    33% {background-color: red;}
    100% {background-color: aqua;}
} */
.youtube-logo{
    height: 22px;
}
.mic-pic{
    height: 25px;
    margin-top: 2px;
    cursor: pointer;
}
.mic-btn{
    height: 44px;
    width: 44px;
    border-radius: 22px;
    border: none;
    background-color: rgb(245, 245, 245);
}
.search-pic{
    height: 25px;
    margin-top: 3px;
}
.search-btn{
    height: 44px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    margin-left: -1px;
    margin-right: 10px;
}
.search-bar{
    padding-top: 12px;
    padding-bottom: 12px;
    flex: 1;
    font-size: 16px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    padding-left: 10px;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-bar:focus{
    outline-color: blue;
}
.upload-icon{
    height: 26px;
}
.notification-logo{
    height: 26px;
}
.ytube-apps{
    height: 26px;
}
.main-prof{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
}