.div1{
    background-color: lightblue;
    width: 200px;
    height: 200px;
}
.dive{
    width: 200px;
    height: 200px;
    background-color: lightpink;
    position: relative;
    z-index: -1;
}
.header{
    background-color: black;
    color: white;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
body{
    height: 3000px;
    padding-top: 60px;
    padding-left: 80px;
}
.side-bar{
    background-color: green;
    position: fixed;
    color: white;
    left: 0;
    bottom: 0;
    top: 40px;
    width: 72px;
}
.absolute{
    background-color: red;
    color: white;
    position: absolute; /* Places the content on the page */
    top: 69px;
    right: 10px;
}
.x-button{
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0px;
}
.abs-rel{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 3px;
}