.side-bar{
    position: fixed;
    left: 0;
    background-color: red;
    bottom: 0;
    top: 63px;
    width: 72px;
    overflow: hidden;
}
.sidebar-link{
    height: 75px;
    background-color: white;
    margin-bottom: 2px;
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}


