*{
    font-family: Roboto, Arial;
}
div, p{
    padding: 0px;
    margin: 0px;
}
.prof-pic{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 10px;
}
.cont-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec1{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-left: 120px;
}
.sec2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 120px;
}
.prof-name{
    font-weight: 900;
}
.add-btn{
    padding: 10px 12px;
    border-radius: 5px;
    margin-right: 8px;
    color: white;
    background-color: rgb(56, 113, 214);
    border: none;
    font-weight: 700;
}
.msg-btn{
    background-color: rgb(229, 230, 235);
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 4px;
    padding-bottom: 12px;
    border-bottom: 1px solid  rgb(226, 223, 223);
}
body{
    height: 3000px;
}